# Maven build output
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# Build directories
build/
!**/src/main/**/build/
!**/src/test/**/build/

# IDEs
### VS Code ###
.vscode/

### IntelliJ IDEA ###
.idea/
*.iml
*.ipr
*.iws

### Eclipse / Spring Tools Suite ###
.classpath
.project
.settings/
.sts4-cache
.apt_generated
.factorypath
.springBeans

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# System files
.DS_Store
Thumbs.db

# Logs & temporary files
*.log
*.tmp
*.bak
*.swp

# Java crash logs
hs_err_pid*
replay_pid*

# Documentation
HELP.md